body {
    font-family: Arial, sans-serif;
    margin: 0%;
    background-color: #f4f4f4;
    color: #332;
}
/* Header */
header {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 20px 0;
}
/*Navigation*/
.navigation-menu{
     background-color: #d7f080;
}
.navigation-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.navigation-menu li {
    margin: 0 15px;
}

.navigation-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.navigation-menu a:hover {
    color: #00bfff;
}

/*main content*/
.main-content {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}
/*section styling*/
.section-one {
    margin-bottom: 30px;
}
article {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
/*footer */
footer{
text-align: center;
background-color: wheat;
padding: 15px 0;
}